<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Modulo 3 Taller 2 - Sonidos Animales</title>
</head>
<body>
    <h1>Consulta sonido animales</h1>
    <ul>
        <li><a href="/sonido/gato">Sonido del Gato</a></li>
        <li><a href="/sonido/perro">Sonido del Perro</a></li>
        <li><a href="/sonido/huron">Sonido del Huron</a></li>
        <li><a href="/sonido/boa">Sonido de la Boa</a></li>
    </ul>
</body>
</html>